<div *ngIf="item">
    <div class="row bg-dark">
        <div style="height: 100px;"></div>
    </div>
    <div class="row bg-dark">
        <div class="text-end offset-1 col-5 glass">
            <img width="100%" height="500px" src="{{item.logo}}.png" alt="ItemImg" style="object-fit: contain;">
        </div>
        <div class="offset-1 col-4 text-white">
            <h2>{{item.name}}</h2>
            <h2>Being sold by user: {{user.userName}}</h2>
            <div class="text-muted">
                <h3>$ {{item.price}}</h3>
            </div>
            <div class="text-muted">
                <h3>{{item.description}}</h3>
            </div> 
            <br /><br /><br /><br />                
            <button class="btn btn-warning" (click)="openModal(content)">Place a bid</button>
                <a class="btn btn-danger" (click)="sendTradeOffer('fhi')">Offer trade</a>
                <h3>{{tradeOffer}}</h3>
        </div>
    </div>
    <div class="row bg-dark">
        <div style="height: 50px;"></div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header modal-lg">
      <h4 class="modal-title" id="modal-basic-title">Choose either an item or amount you want to offer</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Your inventory</label>
          <div class="input-group">
            <div class="row py-2">
              <div *ngFor="let item of items" class="col-lg-6 py-2">
                <div class="card h-100 w-100 shadow-sm bg-dark" >
                  <img class="card-img-top align-items-center" src="{{item.logo}}.png" alt="logo" style="object-fit: contain;">
      
              <div class="card-body">
                  <p class="card-text text-white">{{item.name}}</p>
                  <p class="card-text text-white-50 mb-0">{{item.description}}</p>
                  <p class="card-text text-white-50 mb-0">$ {{item.price}}</p>
                  <br />
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" (click)="sendTradeOffer('groep1')" class="btn btn-sm btn-outline-secondary text-white">Offer</button>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
            </div>
             
    </div>
    </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
