<header class="py-5 bg-image-full" style="background-image: url('https://gyazo.com/67cb494deedab3cd39adc68580786acc.png')">
  <div class="text-center my-5">
      <img class="img-fluid rounded-circle mb-4" width="200px" height="200px" src="https://gyazo.com/9e0ebe52e57e15e81ace52928defc4d1.png" alt="..." />
      <h1 class="text-white fs-3 fw-bolder">Welcome</h1>
      <p class="text-white-50 mb-0">To your online trading market</p>
  </div>
</header>
<section class="py-5">
  <div class="container my-5">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <h2>--Some important info--</h2>
              <p class="lead">A single, lightweight helper class allows you to add engaging, full width background images to sections of your page.</p>
              <p class="mb-0">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.</p>
          </div>
      </div>
  </div>
</section>
