  <br />
  <h2 class="text-center">Choose a marketplace</h2>
  <br /><br />
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div *ngFor="let market of markets" class="col-lg-4 text-center">
        <img class="bd-placeholder-img" src="https://gyazo.com/b90ca49d3b3b77c1fcdb57b7e644a21f" alt="logo" width="140px" height="140px"> 
        <div>
        <h2>{{market.name}}</h2>
        <p>{{market.description}}</p>
        </div>

            <p><a class="btn btn-secondary" routerLink="/detail/{{market.id}}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->

  <router-outlet></router-outlet>
